<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>疫情信息展示系统|疫情数据管理</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/src/css/layui.css}"/>
    <script th:src="@{/webjars/layui/src/layui.js}"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/js/adminPatientInfo.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a th:href="@{/admin}" class="layui-logo"><strong>EIDS</strong>信息管理</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-zhanghao"></i>
                    <span th:text="${session.loginAccount} ? ${session.loginAccount.email} : '游客访问'"></span>
                </a>
                <dl class="layui-nav-child" th:if="!${session.loginAccount}">
                    <dd><a th:href="@{/login}">登录账号</a></dd>
                    <dd><a th:href="@{/register}">注册账号</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:if="${session.loginAccount}"><a th:href="@{/user/m-logout}">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a th:href="@{/admin}">援助请求管理</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">疫情数据管理</a>
                    <dl class="layui-nav-child">
                        <dd th:each="e:${application.events}" th:class="${event.name == e.name ? 'layui-this' : ''}"><a th:href="@{'/admin/patientinfo/' + ${e.name}}" th:text="${e.name}"></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a th:href="@{/admin/user}">用户管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/admin/event}">疫情事件管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/admin/article}">防疫资讯管理</a></li>
                <li class="layui-nav-item" th:if="${session.loginAccount?.level >= 2}"><a th:href="@{/admin/adminManagement}">管理员管理</a></li>
            </ul>
        </div>
    </div>
    <!--        数据表格行工具栏组件 -->
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="registerFace" id="registerFace">注册人脸</a>
    </script>

    <!-- 用于存储患者照片的HTML片段 -->
    <script type="text/html" id="faceBar">
        <div id="faceDiv">
            <img layer-pid="" layer-src="" src="" alt="" id="photo">
        </div>
    </script>

    <!--        数据表格头部工具栏组件   -->
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除选中</button>
            <button class="layui-btn layui-btn-sm" lay-event="import" id="import">导入患者信息</button>
            <button class="layui-btn layui-btn-sm" lay-event="getTemplate" id="getTemplate">获取信息导入模板</button>
        </div>
    </script>

    <!-- 点击修改患者信息时的弹出部分 -->
    <script type="text/html" id="patientInfoForm">
        <form class="layui-form layui-form-pane" th:action="@{/admin/patienttable/update}" lay-filter="patientInfoForm" style="padding: 15px 20px" id="layerForm" method="post">
            <input type="text" name="idNumber" value="" style="display: none">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" required  lay-verify="required" value="" autocomplete="off" class="layui-input" >
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所在地</label>
                <div class="layui-input-inline">
                    <select name="province" lay-verify="required" lay-filter="layerProvince" >
                        <option value="" >所在省/直辖市</option>
                        <option th:each="province, stat: ${provinces}" th:value="${province}" th:text="${province}">
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city" lay-verify="required" lay-filter="layerCity" id="layerCity">
                        <option value="">所在市/区</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详细地址</label>
                <div class="layui-input-block">
                    <input type="text" name="locationDetail" required lay-verify="required" value="沙埠村" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-block">
                    <input type="text" name="idNumber" required lay-verify="required" value="323424234234" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确诊时间</label>
                <div class="layui-input-block">
                    <input type="text" name="reportingTime" value="2020年2月11日" class="layui-input " readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">病情</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="required">
                        <option value=""></option>
                        <option value="轻微">轻微</option>
                        <option value="危重">危重</option>
                        <option value="治愈">治愈</option>
                        <option value="死亡">死亡</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" style="visibility: hidden">提交</button>
                    <button type="button" class="layui-btn" id="fsubmit">提交</button>
                </div>
            </div>
        </form>
    </script>

    <!-- 注册人脸按钮弹出部分 -->
    <script type="text/html" id="registerFaceBar">
        <div style="padding: 10px 20px">
            <p style="padding-bottom: 10px">
                注册人脸照片需满足条件：<br>
                &nbsp; &nbsp; &nbsp; &nbsp; 1. 五官无遮挡<br>
                &nbsp; &nbsp; &nbsp; &nbsp; 2. 画面清晰<br>
                &nbsp; &nbsp; &nbsp; &nbsp; 3. 人脸大小建议长宽像素值范围:80*80~200*200<br>
                &nbsp; &nbsp; &nbsp; &nbsp; 4. 照片大小小于10M<br>
                &nbsp; &nbsp; &nbsp; &nbsp; 5. 光照充足<br>
                点击按钮或将照片拖拽到按钮处上传照片<br>
            </p>
            <button type="button" class="layui-btn layui-btn-sm" id="loadBtn" style="margin: 0 auto">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </script>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding:15px">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="weight: 100px">查询患者</label>
                    <div class="layui-input-inline">
                        <select name="province" lay-filter="province" lay-search>
                            <option value="">所在省/直辖市</option>
                            <option th:each="province, stat: ${provinces}" th:value="${province}" th:text="${province}">
                            </option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="margin-left: 20px">
                        <select name="city" lay-filter="city" lay-search>
                            <option value="">所在市/区</option>
                        </select>
                    </div>

                    <div class="layui-input-inline">
                        <input type="text" name="idNumber" placeholder="患者身份证号" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="姓名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <button class="layui-btn" id="confirm">确定</button>
                    </div>
                </div>
            </div>
            <table class="layui-hide" id="patientTable" lay-filter="patientTable"></table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © EIDS - 疫情信息发布系统
    </div>
</div>
<p class="contextpath" style="display:none" th:text="${#servletContext.contextPath}"></p>
<p class="eventId" style="display: none" th:text="${event.id}"></p>
</body>
</html>