<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>疫情信息展示系统|发布援助请求</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/src/css/layui.css}"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1687011_w335yuvfmm.css" type="text/css">
    <script th:src="@{/webjars/layui/src/layui.js}"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- header 开始 -->
    <div class="layui-header layui-bg-cyan">
        <div class="layui-logo"><a th:href="@{/admin}" class="layui-logo"><strong>EIDS</strong>信息管理</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>
    <div class="layui-body" style="left: 0; padding-top: 30px; bottom: 0">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="text-align: left"><h2>标题</h2></label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <textarea name="" id="edit" cols="30" rows="10"></textarea>
            <div class="layui-btn-group" style="margin-top: 10px">
                <button class="layui-btn" lay-event="getContent">发布</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.extend({
        tinymce: "[[${#servletContext.contextPath} + '/layui_exts/tinymce/tinymce']]"
    }).use(['tinymce', 'util', 'layer'], function () {
        let tinymce = layui.tinymce;
        let util = layui.util;
        let edit = tinymce.render({
            elem: "#edit"
            , height: 600
        });
        util.event('lay-event', {
            getContent: function () {
                let title = $('input[name=title]').val();
                if(title === ''){
                    layer.msg("标题不能为空");
                    return;
                }
                let load = layer.msg('发表中', {
                    icon: 16
                    ,shade: 0.01
                });
                $.ajax({
                    url: "[[${#servletContext.contextPath} + '/admin/helptable/posthelp']]",
                    data:{
                        title: $('input[name=title]').val(),
                        article: edit.getContent(),
                    },
                    dataType:'JSON',
                    type:'POST',
                    success: function (data, status) {
                        layer.close(load);
                        if(data.msg === 'success'){
                            layer.msg('发布成功，本界面即将关闭', {
                                icon: 16
                                ,shade: 0.01
                            });
                            setTimeout(function () {
                                let index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            }, 2000);
                        }else{
                            layer.msg(data.msg);
                        }
                    },
                    error: function () {
                        layer.close(load);
                        layer.msg("服务器异常");
                    }
                });
            }
        });
    });
    layui.use('element', function () {
        let element = layui.element;
    });
</script>
</body>
<p class="contextpath" style="display:none" th:text="${#servletContext.contextPath}"></p>
<p class="epidemicId" style="display: none" th:text="${epidemic?.id}"></p>
<p class="epidemicName" style="display: none" th:text="${epidemic?.name}"></p>
<p class="regionName" style="display: none" th:text="${regionName}"></p>
</html>