<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shj.eids.dao.AidInformationMapper">
    <insert id="addAidInformation" parameterType="AidInformation">
        insert into aid_informaion(title, content, release_time) VALUES (#{title}, #{content}, #{releaseTime})
    </insert>
    <delete id="deleteAidInformation" parameterType="AidInformation">
        delete from aid_informaion where id=#{id};
    </delete>
    <update id="updateAidInformation" parameterType="AidInformation">
        update aid_informaion
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="content !=null">
                content=#{content},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="getInformation" resultType="AidInformation" resultMap="AidInformation_Admin">
        select * from aid_informaion order by release_time limit #{start}, #{length}
    </select>
    <resultMap id="AidInformation_Admin" type="AidInformation">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="release_time" property="releaseTime"/>
        <association column="id" property="publisher" javaType="Admin" select="getAdmin"/>
    </resultMap>
    <select id="getAdmin" resultType="Admin">
        select a.id id, a.email email, a.level level, a.password password from record_admin_aidinfo r inner join admin a on r.admin_id = a.id where r.aid_info_id=#{id} and record_type='发布'
    </select>

    <select id="getInformationByContent" resultMap="AidInformation_Admin">
        select * from aid_informaion where title like concat('%',#{content}, '%') or content like concat('%',#{content}, '%')
    </select>
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>
</mapper>