<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shj.eids.dao.EpidemicMsgMapper">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>
    <insert id="addEpidemicMsg" parameterType="EpidemicMsg">
        insert into epidemic_msg(title, content, release_date, weight, author_id) VALUES (#{title}, #{content}, #{releaseDate}, #{weight}, #{author.id})
    </insert>
    <delete id="deleteEpidemicMsg" parameterType="EpidemicMsg">
        delete from epidemic_msg where id=#{id};
    </delete>
    <update id="updateEpidemicMsg" parameterType="EpidemicMsg">
        update epidemic_msg
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="content!= null">
                content=#{content},
            </if>
            <if test="weight!= null">
                weight=#{weight},
            </if>
            <if test="views != null">
                views=#{views},
            </if>
        </set>
        where id=#{id}
    </update>
    <sql id="where-if">
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="content!= null">
                and content like CONCAT('%', #{content}, '%')
            </if>
            <if test="authorId!=null">
                and author_id=#{author}
            </if>
            <if test="weight!=null">
                and weight=#{weight}
            </if>
        </where>
    </sql>
    <sql id="limit">
        <if test="start!=null and length!=null">
            limit #{start}, #{length}
        </if>
    </sql>
    <select id="getEpidemicMsg" resultType="EpidemicMsg" resultMap="EpidemicMsg_User">
        select * from epidemic_msg
        <include refid="where-if"></include>
        order by weight DESC , views DESC, release_date DESC
        <include refid="limit"></include>
    </select>
    <select id="getEpidemicMsgOrderByViews" resultMap="EpidemicMsg_User">
        select * from epidemic_msg
        <include refid="where-if"></include>
        order by views DESC
        <include refid="limit"></include>
    </select>
    <resultMap id="EpidemicMsg_User" type="EpidemicMsg">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="release_date" property="releaseDate"/>
        <result column="weight" property="weight"/>
        <association property="author" column="author_id" select="getUser" javaType="User"/>
    </resultMap>
    <select id="getUser" resultType="User">
        select id, email, level, introduction from user where id=#{id}
    </select>

    <select id="getCount" resultType="int">
        select count(*) from epidemic_msg
        <where>
            <if test="content!= null">
                and content like CONCAT('%', #{content}, '%')
            </if>
            <if test="authorId!=null">
                and author_id=#{author}
            </if>
            <if test="weight!=null">
                and weight=#{weight}
            </if>
        </where>
    </select>

    <select id="getEpidemicAbstract" resultType="EpidemicMsg" resultMap="EpidemicMsg_User" parameterType="map">
        select id, title, SUBSTRING(content,1, 249) content, release_date,weight, author_id, views from epidemic_msg
        <include refid="where-if"></include>
        order by weight DESC , views DESC, release_date DESC
        <include refid="limit"></include>
    </select>

</mapper>