<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shj.eids.dao.EpidemicEventMapper">
    <insert id="addEveryDayCount" parameterType="EveryDayCount">
        insert into every_day_count(epidemic_event_id, province, date, status, amount) VALUES (#{epidemicEventId}, #{province}, #{date}, #{status}, #{amount})
    </insert>

    <select id="getCounts" parameterType="map" resultType="int">
        select amount from every_day_count
        <where>
            <if test="epidemicEventId!=null">
                and epidemic_event_id=#{epidemicEventId}
            </if>
            <if test="province!=null">
                and province=#{province}
            </if>
            <if test="date !=null">
                and date = #{date}
            </if>
            <if test="status!=null">
                <foreach collection="status" item="s" open="(" close=")" separator=" or ">
                    status=#{s}
                </foreach>
            </if>
            order by date
        </where>
    </select>
</mapper>