<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shj.eids.dao.PatientInformationMapper">
    <insert id="addPatientInformation" parameterType="PatientInformation">
        insert into patient_information(name, location_province, location_city, location_detail, face_url, reporting_time, epidemic_id, status, id_number)
        VALUES(#{name}, #{locationProvince}, #{locationCity}, #{locationDetail}, #{faceUrl}, #{reportingTime}, #{epidemicEvent.id}, #{status}, #{idNumber});

    </insert>

    <insert id="addPatientInformationByExcelModel" parameterType="PatientInformationExcelModel">
        insert into patient_information(name, location_province, location_city, location_detail, reporting_time, epidemic_id, status, id_number)
        VALUES (#{name}, #{locationProvince}, #{locationCity}, #{locationDetail}, #{reportingTime}, #{eventId}, #{status}, #{idNumber})
    </insert>
    <delete id="deletePatientInformationById" parameterType="int">
        delete from patient_information where id=#{id};
    </delete>
    <update id="updatePatientInformation" parameterType="PatientInformation">
        update patient_information
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="locationProvince!=null">
                location_province=#{locationProvince},
            </if>
            <if test="locationCity!=null">
                location_city=#{locationCity},
            </if>
            <if test="locationDetail!= null">
                location_detail=#{locationDetail},
            </if>
            <if test="faceUrl!=null">
                face_url=#{faceUrl},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
            where id = #{id}
    </update>
    <select id="getPatientInformationByIdNumber" resultType="PatientInformation">
        select * from patient_information where id_number=#{idNumber}
    </select>
    <select id="getPatientInformationById" resultType="PatientInformation" resultMap="PatientInformation_EpidemicEvent">
        select * from patient_information where id = #{id}
    </select>
    <sql id="where-if">
        <where>
            <if test="status!=null">
                and
                <foreach collection="status" item="s" open="(" close=")" separator=" or ">
                    status=#{s}
                </foreach>
            </if>
            <if test="locationProvince!=null">
                and location_province=#{locationProvince}
            </if>
            <if test="idNumber != null">
                and id_number=#{idNumber}
            </if>
            <if test="locationCity!=null">
                and location_city=#{locationCity}
            </if>
            <if test="startTime!=null and endTime!=null">
                and reporting_time between #{startTime} and #{endTime}
            </if>
            <if test="epidemicId!= null">
                and epidemic_id=#{epidemicId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </sql>
    <select id="getPatientInformation" resultType="PatientInformation" parameterType="map" resultMap="PatientInformation_EpidemicEvent">
        select * from patient_information
        <include refid="where-if"/>
        <if test="start!=null and length!=null">
            limit #{start}, #{length}
        </if>
    </select>
    <resultMap id="PatientInformation_EpidemicEvent" type="PatientInformation">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="location_province" property="locationProvince"/>
        <result column="location_city" property="locationCity"/>
        <result column="location_detail" property="locationDetail"/>
        <result column="reporting_time" property="reportingTime"/>
        <result column="status" property="status"/>
        <result column="id_number" property="idNumber"/>
        <association property="epidemicEvent" column="epidemic_id" select="getEpidemicEvent"/>
    </resultMap>
    <select id="getEpidemicEvent" resultType="EpidemicEvent">
        select * from epidemic_event where id=#{id}
    </select>
    <select id="getCount" parameterType="map" resultType="int">
        select count(*) from patient_information
        <include refid="where-if"/>
        <if test="start!=null and length!=null">
            limit #{start}, #{length}
        </if>
    </select>
</mapper>