.formstyle{
    width: 700px;
    margin: 0 auto;
    padding: 50px 200px;
    border-bottom: solid;
    border-bottom-color: lightskyblue;
    border-top-style: groove;
    border-radius: .8em;
    border-top-color: lightskyblue;
}
.font-style{
    font-family:Arial,Helvetica,sans-serif;
    font-size:18px;
}