<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>疫情信息展示系统|主页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/src/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formstyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1687011_gtbhq4qe1t4.css" type="text/css">
    <script th:src="@{/webjars/layui/src/layui.js}"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/js/md5.js}"></script>
    <script th:src="@{/js/echarts.js}"></script>
    <script th:src="@{'/js/map/js/' + ${regionName == 'china' ? 'china': 'province/' + regionName} + '.js'}"></script>
    <script th:src="@{/js/graphic.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--    rgb(0,194,146)-->
    <!-- header 开始 -->
    <div class="layui-header layui-bg-cyan">
        <div class="layui-logo"><strong>EIDS</strong>信息发布</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">疫情事件</a>
                <dl class="layui-nav-child">
                    <dd th:each="event:${events}">
                        <a th:href="@{'/index/' + ${event.name} + '/china'}">[[${event.name}]]</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>


    <div class="layui-body" style="left: 0; padding-top: 30px;">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md8">
                    <div class="layui-tab-item layui-show" style="width:100%; height: 500px" id="map1">
                        <!-- 地图DOM -->
                    </div>
<!--                    <div class="layui-tab-item" style="width: 940px; height: 500px" id="map2">-->
<!--                        &lt;!&ndash; 地图DOM &ndash;&gt;-->
<!--                    </div>-->
                </div>
                <div class="layui-col-md4">
                    <div class="layui-row">
                        <div class="layui-col-md12">
                            <div style="width: 100%; height: 300px" id="pie">
<!--                                饼图-->
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <table class="layui-table" lay-even lay-skin="line">
                                <colgroup>
                                    <col width="70%">
                                    <col width="30%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>
                                        <span style="color: #FF5722"><li class="layui-inline iconfont icon-quezhenrenshu1"></li>&nbsp;&nbsp;累计确诊</span>
                                    </td>
                                    <td><span style="color: #FF5722"><strong th:text="${allConfirmed}"></strong></span></td>
                                </tr>
                                <tr>
                                    <td>
                                    <span style="color: #FFB800"><li class="layui-inline iconfont icon-xiancunquezhennew"></li>&nbsp;&nbsp;现有确诊</span>
                                    </td>
                                    <td><span style="color: #FFB800"><strong th:text="${present}"></strong></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #5FB878"><li class="layui-inline iconfont icon-zhiyu"></li>&nbsp;&nbsp;累计治愈</span>
                                    </td>
                                    <td><span style="color: #5FB878"><strong th:text="${allCured}"></strong></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #2F4056"><li class="layui-inline iconfont icon-siwang"></li>&nbsp;&nbsp;累计死亡</span>
                                    </td>
                                    <td><span style="color: #2F4056"><strong th:text="${allDead}"></strong></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-top: 30px">
                <div class="layui-col-md12">
                    <div style="width: 100%; height: 500px" id="lineAndBar">
                        <!--                        折线图和柱状图-->
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer" style="left: 0">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
</div>
</body>
<p class="contextpath" style="display:none" th:text="${#servletContext.contextPath}"></p>
<p class="epidemicId" style="display: none" th:text="${epidemic.id}"></p>
<p class="epidemicName" style="display: none" th:text="${epidemic.name}"></p>
<p class="regionName" style="display: none" th:text="${regionName}"></p>
</html>